top; configure terminal;
    sw default

    domain {{ name }}; visible default; exit;
    sw {{ name }}

    loglevel error;
    logging target gwd-log
        type file
        format text
        timestamp syslog
        size 50000
        local-file logtemp:///gwd-log
        event apic-gw-service debug
    exit

    config-sequence "{{ name }}"
      location "local:///"
      watch "on"
      delete-unused "on"
      match "(.*)\.cfg$"
      summary "Toolkit Reboot configuration"
      run-sequence-interval 3000  
      optimize-for-apic on
    exit

    crypto
        idcred id-cred-apic {{ fqdn }} {{ fqdn }}
        ssl-client gwd-to-mgmt
            idcred id-cred-apic
            no validate-server-cert
        exit
        ssl-server gwd-to-mgmt
            idcred id-cred-apic
            no request-client-auth
            validate-client-cert off
        exit
    exit

    {% for peering_object_name in ['subs', 'rate-limit', 'gwd', 'probe', 'gws-rate-limit'] %}
    gateway-peering {{ peering_object_name }}
        admin enabled
        local-address {{ backend_listen }}
        local-port {{ 16383 + loop.index }}
        monitor-port {{ 26383 + loop.index }}
        enable-ssl off
        {%- if enable_peer_group %}
        priority {{ gateway_peering_priority }}
        enable-peer-group on
        {%- for peer in peer_group %}
        {%- if peer.strip() != fqdn.strip() %}
        peer {{ peer }}
        {%- endif %}
        {%- endfor %}
        {%- endif %}
        persistence memory
    exit
    {% endfor %}

    gateway-peering-manager
      admin enabled
      apic-gw-service gwd
      rate-limit rate-limit
      subscription subs
      apiprobe probe
      ratelimit-module gws-rate-limit
    exit

    apiprobe-settings
        admin-state enabled
        max-records 1000
        gateway-peering probe
    exit

    apic-gw-service
      admin-state enabled
      local-address {{ backend_listen }}
      local-port {{ gw_backend_port }}
      api-gw-address {{ frontend_listen }}
      api-gw-port {{ gw_frontend_port }}
      v5-compatibility-mode off
      ssl-server gwd-to-mgmt
      ssl-client gwd-to-mgmt
    exit

    write memory

    sw default
    write memory
exit

