top; configure terminal;
    domain {{ name }}; visible default; exit;

    sw {{ name }}
    crypto
        keygen C LK CN {{ fqdn }} gen-object gen-sscert export-sscert
    exit
    write memory

    sw default
    write memory
exit

